* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin text-set ($fs, $fw, $lh, $ta, $tcol) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    text-align: $ta;
    color: $tcol;
}

$text-color: #F16D7F;

body { 
    font-family: 'Lato', sans-serif;
}

.container-dev {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.content {
    padding: 0 2%;
}

.header__top {
    background-color: #222222;
    width: 100%;
}

.header__breadcrumbs {
    background-color: #F8F3F4;
    min-height: 148px;
    border: 1px solid #EAEAEA;
}   

.header__breadcrumbs-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.breadcrumbs-text-name {
    text-decoration: none;
    @include text-set (24px, 400, 29px, left, $text-color);
    text-transform: uppercase;
}

.crumbs_link {
    text-decoration: none;
    @include text-set (14px, 300, 17px, left, #636363);
    text-transform: uppercase;
}

.crumbs_link-active {
    text-decoration: none;
    @include text-set (14px, 700, 17px, left, $text-color);
    text-transform: uppercase;
}

.crumbs_link:hover {
    color: $text-color;
}

.crumbs_link-active:hover {
    color: #636363;
}

.header_bottom {
    height: 100%;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.header_bottom-product {
    height: 100%;
    background-color:  #F7F7F7;
    position: relative;
}

.header__top_menu {
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.header__top_menu_left {
    display: flex;
    align-items: center;
    width: 112px;
    justify-content: space-between;
}

.header__top_menu_right {
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-between;
}

.menu_list {
    position: relative;
}

.header_photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 363px;
    width: 100%;
}

.header_photo-main {
    width: 48%;
}

.header_title-box {
    width: 48%;
}

.header_photo-product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel_photo {
    padding: 25px;
    height: 777px;
    }

.button_carousel {
    background-color: #2A2A2A;
    height: 47px;
    width: 47px;
}


   .header_title {
    border-left: 12px solid $text-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    padding-left: 16px;
    height: 100%;
    white-space: nowrap;
    text-transform: uppercase;
}

.menu_box {
    background-color:#FFFFFF ;
    width: 232px;
    height: 800px;
    position: absolute;
    top: 26px;
    right: -600px;
    flex-direction: column;
    z-index: 1;
    transition: transform 2s;
}

.menu_list {
    position: relative;
}

.menu_section {
    @include text-set (14px, 400, 17px, left, $text-color);
    margin-left: 34px;
    margin-bottom: 6px;
  }

.menu_items {
    @include text-set (14px, 400, 17px, left, #6F6E6E);
    margin-bottom: 8px;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
}

.menu_title {
    @include text-set (14px, bold, 17px, left, #000000);
    margin-left: 34px;
    margin-top: 37px ;
    margin-bottom: 24px;
}

.menu_link {
    padding-left: 20px;
    padding-bottom: 12px;
    padding-top: 6px;
   text-decoration: none;
   color: #6F6E6E;
   transition: color 0.5s;
}

.menu_link:hover {
    color: $text-color;
}

.menu_list:hover .menu_box {
    transform: translateX(-500px);
}

.content_photo_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.content_photo_bottom-pic {
    width: 100%;
    padding: 2% 0;
}

.card_top {
    position: relative;
    display: flex;
    justify-content: center;
    transition: transform 1s;
    width: 32%;
    height: 48%;
}

.card_top:hover {
    transform: scale(1.1);
}

.card_image {
    width: 100%;
}


.card_bottom {
    position: relative;
    display: flex;
    justify-content: center;
    transition: transform 1s;
    min-height: 111px;
}


.card_bottom:hover {
    transform: scale(1.1);
}

.product_banner { 
    height: 601px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    top: -130px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_section {
    @include text-set(14px, 300, 17px, center, $text-color);
    margin-top: 64px;
    text-transform: uppercase;
    }

.banner_line {
    width: 63px;
    border: 1.5px solid #EF5B70;
    margin: 7px 0 11px 0;
    opacity: 1;
    color: #EF5B70!important;
}

.carousel-item {
    transition: transform 2s ease, opacity .5s linear;
}

.carousel-control-prev  {
    top: 50%;
    bottom: 50%;
}

.carousel-control-next {
    top: 50%;
    bottom: 50%;
}

.product_name {
    @include text-set(18px, 300, 22px, center, #4D4D4D);
    margin-bottom: 48px;
    text-transform: uppercase;
}

.product_desc {
    @include text-set(14px, 300, 17px, center, #5E5E5E);
    width: 555px;
    margin-bottom: 32px;
}

.product_price {
    @include text-set(24px, 300, 29px, center, #EF5B70);
    margin-bottom: 65px;
}

.banner_line-grey {
    width: 641px;
    border: 1px solid #EAEAEA;
    margin-bottom: 65px;
    opacity: 1;
}

.text {
    @include text-set (16px, 400, 19px, center, #000000);
    font-style: normal;
    }

.text_color {
    color: $text-color;
}

.text_bold {
    @include text-set (26px, 700, 29px, center, $text-color);
}

.text_bolder {
    @include text-set (48px, 700, 58px, center, #222222);
}

.card_text {
    @include text-set (16px, 400, 19px, center, #FFFFFF);
    letter-spacing: 0.05em;
    position: absolute;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
}

.item-sec {
    margin-top: 66px;
}

.item {
    display: flex;
    margin-right: 1%;
    margin-bottom: 3%;
    position: relative;
    transition: box-shadow 1s;
    flex-grow: 1;
    width: 360px;

}

.items_title {
    @include text-set (30px, 400, 36px, center, #222222);
    margin-bottom: 6px;
}

.items_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text_items {
    @include text-set (14px, 300, 17px, center, #9F9F9F);
    margin-bottom: 48px;
}

.item_link {
    width: 100%;
    background: #F8F8F8;
    text-decoration: none;
}

.item-txt-box {
    padding: 15px;
}

.item:hover { 
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    }

.item_pic {
    width: 100%;
    transition: filter 1s;
}

.item:hover .item_pic {
    filter: brightness(30%)
}
    
.item_name {
    @include text-set (13px, 400, 16px, left, #000000);
    padding-left: 18px;
    padding-top: 25px;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.item_description {
    @include text-set (14px, 300, 17px, left, #5D5D5D);
    padding-left: 18px;
}

.item_price {
    text-align: left;
    padding: 18px;
}

.add-box {
    display: none;
    position: absolute;
    width: 100%;
    top: 35%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.add-link {
   text-decoration: none;
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF;
    padding: 0 10px;
    pointer-events: all;
    transition: box-shadow 0.5s;
}


.item:hover .add-box {
    display: flex;
}

.add-link:hover {
    box-shadow: 0 0 10px #FFFFFF;
}
    
    
.item_browse {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 95px;
}

.button_pink {
    @include text-set (16px, 400, 19px, center, $text-color);
    text-decoration: none;
    border: 1px solid $text-color;
    padding: 14px 38px;
    background-color: white;
    transition: all 1s;
}

.button_pink:hover {
    background-color: $text-color;
    color: #FFFFFF;
}

.benefits {
    background-color: #222224;
    min-height: 341px;
        
    .benefits_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 341px;
    }

    .benefit_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 360px;
        margin: 30px;
    }

    .benefit_title {
        @include text-set (19px, 400, 24px, center, #FBFBFB);
        margin-bottom: 16px;
        margin-top: 20px;
    }

    .benefit_text {
        @include text-set (13px, 300, 17px, center, #FBFBFB);
    }
}

.benefits:hover .benefit_card {
    -webkit-animation: wobble-hor-top 1.5s ease-in-out both;
            animation: wobble-hor-top 1.5s ease-in-out both;
}
.wobble-hor-top {
	-webkit-animation: wobble-hor-top 1.5s ease-in-out both;
	        animation: wobble-hor-top 1.5s ease-in-out both;
}




/* ----------------------------------------------
 * Generated by Animista on 2021-10-7 20:44:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-top {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(6deg);
              transform: translateX(-30px) rotate(6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(-6deg);
              transform: translateX(15px) rotate(-6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(3.6deg);
              transform: translateX(-15px) rotate(3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(-2.4deg);
              transform: translateX(9px) rotate(-2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(1.2deg);
              transform: translateX(-6px) rotate(1.2deg);
    }
  }
  @keyframes wobble-hor-top {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(6deg);
              transform: translateX(-30px) rotate(6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(-6deg);
              transform: translateX(15px) rotate(-6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(3.6deg);
              transform: translateX(-15px) rotate(3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(-2.4deg);
              transform: translateX(9px) rotate(-2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(1.2deg);
              transform: translateX(-6px) rotate(1.2deg);
    }
  }
  
  

.add-box-pink {
    border: 1px solid #FF6A6A;
}

.add-link-pink {
    text-decoration: none;
    width: 211px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 1s;
}

.add-txt-pink {
    @include text-set(16px, 400, 48px, center, $text-color);
    padding-left: 23px;
    padding-right: 26px;
   }

.add-pic-white {
    position: absolute;
    display: none;
    padding-right: 33px;
    left: 27px;
}

.add-box-pink:hover {
    .add-link-pink {
        background-color: $text-color;
    }
    .add-txt-pink {
        color: white;
        padding-left: 50px ;
    }
    .add-pic-white {
        display: block;
                }
    .add-pic-pink {
        display: none;
    }
}

.add-txt {
    @include text-set (14px, 400, 43px, left, #FFFFFF);
    margin-left: 11px;
}


.footer{

    .footer_center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 448px;
    }

    .subscribe {
        background:url(img/footer_bg.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        min-height: 448px;
    }

    .subscribe_feedback{
        display: flex;
       flex-direction: column;
       width: 360px;
       align-items: center;
    }

    .subscribe_img {
        height: 96px;
        width:96px;
        margin-bottom: 30px;
    }

    .subscribe_form {
        display: flex;
        flex-direction: column;
       width: 360px;
       align-items: center;
    }

    .text_review {
        @include text-set (20px, 400, 24px, center, #222224);
    }

    .text_subscribe {
        @include text-set (18px, 400, 30px, center, #222224);
        padding-bottom: 32px;
        text-transform: uppercase;
    }

    .text_subscribe_bold {
        @include text-set (24px, 700, 40px, center, #222224);
    }

    .input-text {
        background: #E1E1E1;
        border: none;
        height: 49px;
        border-radius: 25px 0 0 25px;
        padding: 7px 22px;
        text-align: left;
    }

    .button_radius { 
        height: 49px;
        border-radius: 0 25px 25px 0;
        padding: 7px 22px;
        font-size: 14px;
        line-height: 17px;
    }

    .form_footer {
        display: flex;
    }

    .footer_bottom {
        background-color:#222224 ;
        height: 79px;
    }

    .footer_bottom_center {
    display: flex;
    justify-content: space-between;
    height: 79px;
    align-items: center;
    }

    .copyright {
        @include text-set (16px, 400, 19px, left, #FBFBFB);
    }

    .social {
    display: flex;
    justify-content: space-between;
    }

    .social_box {
    background-color: #FFFFFF;
    height: 32px;
    width: 32px;
    margin-right: 7px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}

.fab {
    font-size: 20px;
}

.social_logo {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}
    
.social_logo:hover .social_box {
    background-color: $text-color;
    }

.social_logo:hover {
        color: #FFFFFF;
    }
}

.filters-product {
    display: flex;
    margin-bottom: 49px;
}

.form-select {
    border: none;
    text-transform: uppercase;
    width: auto;
    @include text-set(14px, 400, 17px, center, 
    #6F6E6E);  
    align-self: flex-start;  
    padding-top: 0;
    background-image: url(img/arrow.svg);
    margin-right: 28px;
    transition: none;
}

.form-select:hover {
    color: $text-color;
}

.form-select:focus {
    color: $text-color;
    box-shadow: none;  
}

details {
    width: 30%;
}

.filter_dropdowns {
    display: flex;
    width: 60%;
}

.pagination {
    justify-content: center;
}

.page-link {
    @include text-set(16px, 300, 19px, center, #6F6E6E);
}

.page-item:hover .page-link {
    color: $text-color ;
}



.registration {
    display: flex;
    justify-content: space-around;
    margin-bottom: 96px;
    margin-top: 64px;
}

.registration_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration_legend {
    @include text-set(16px, 300, 19px, left, #222222);
    margin-bottom: 20px;
}

.registration_input {
    @include text-set(13px, 300, 45px, left, #B1B1B1);
    width: 100%;
    padding-left: 17px;
}

.gender_checkbox {
    @include text-set(11px, 300, 13px, left, #000000);
    width: 100%;
}

.registration_req {
    @include text-set(13px, 300, 16px, left, #B1B1B1);
    margin-bottom: 39px;
}

.checkbox-txt {
    padding-right: 4%;
    padding-left: 10px;
    }

.join_us {
    align-self: flex-start;
    text-transform: uppercase;
}

.fa-long-arrow-alt-right {
    padding-left: 20px;
}

.registration_text {
    margin-left: 10%
}
.registration_text-list {
    @include text-set(24px, 300, 29px, left, #000000);
    margin-bottom: 16px;
    list-style-image: url(img/checkmark.svg);
}

.uppercase {
    text-transform: uppercase;
}

.registration-list {
    padding-left: 25px;
    padding-bottom: 16px;
}

.filter_catalog {
    display: flex;
    margin-bottom: 65px;
    position: relative;
}

.filter-btn {
    display: flex;
}

.filter-btn-txt {
    @include text-set(14px, 600, 17px, left, #000000);
    padding-right: 11px;
}

.filter-btn:hover .filter-btn-txt{
    color: $text-color;
}



.filter-active {
    width: 360px;
    position: absolute;
    
}

summary {
    list-style: none;
}

.accordion {
    width: 360px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
}
.accordion-body {
    display: flex;
    flex-direction: column;
}

.accordion-list {
    text-decoration: none;
    @include text-set(14px, 400, 17px, left, #6F6E6E);
    padding-bottom: 11px;
}

.accordion-button:not(.collapsed) {
    color: $text-color;
    background-color: white;
}


.accordion-button {
    border-left: 5px solid $text-color;
}

.accordion-button:focus {
    border-color: $text-color;
}

.accordion-item {
    padding-left: 17px;
   border: none;
    margin-top: 17px;
}

.accordion-header {
    border-bottom: 1px solid #EBEBEB;
}

.accordion-list:hover {
    color: $text-color;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 0;
}

.accordion-item:last-of-type .accordion-button {
    border-radius: 0;
}

.accordion-button:focus {
   box-shadow: none; 
}

.cart {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 128px;
}

.cart-main {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.cart_item {
    display: flex;
    width: 652px;
    margin-bottom: 40px;
    text-decoration: none;
    transition: box-shadow 1s;
}

.cart_item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.cart_item-img {
    height: 306px;
}

.cart_item-text {
    width: 390px;
    margin-top: 22px;
    margin-left: 31px;
}

.cart_item-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart_item-name {
    width: 265px;
    margin-bottom: 42px;
    @include text-set(24px, 400, 29px, left, #222222);
}

.close-pic {
    align-self: flex-start;
    padding-top: 6px;
    padding-right: 22px;
}

.cart_item-desc {
    @include text-set(22px, 400, 32px, left, #575757);
}

.border {
    border: 1px solid #EAEAEA;
    padding-left: 16px;
    padding-right: 16px;
    width: 64px;
}

.cart_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.cart_button-desc {
    @include text-set(14px, 300, 50px, center, #000000);
    padding-right: 40px;
    padding-left: 40px;
    background-color: white;
    border: 1px solid #A4A4A4;
    transition: border-color 0.5s;
    transition: box-shadow 0.5s;
}

.cart_button-desc:hover {
    color: $text-color;
    border-color: $text-color;
    box-shadow: 0 5px 8px $text-color;
}

.shipping_form {
    width: 100%;
    margin-top: 17px;
}

.shipping_input {
    margin-bottom: 20px;
    padding-left: 17px;
}

.cart_sum {
    height: 214px;
    background-color: #F5F3F3;
    margin-top: 57px;
    padding-top: 39px;
    padding-right: 42px;
    padding-left: 43px;
    padding-bottom: 42px;

}

.get-quote {
    @include text-set(11px, 300, 34px, center, #4A4A4A);
}

.sub_total {
    @include text-set(11px, 400, 13px, right, #4A4A4A);
    margin-bottom: 12px;
}

.grand_total {
    @include text-set(16px, 300, 19px, right, #222222);
    padding-bottom: 21px;
    border-bottom: 1px solid #E2E2E2;
}

.proceed {
    margin-top: 17px;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .benefits_items {
        flex-direction: column;
    }
    .footer_center {
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .header_title {
        font-size: 24px;
        line-height: 29px;
    }
    .text_bolder {
        font-size: 44px;
        line-height: 53px;
    }

    .item:last-of-type {
        display: none;
    }

    .cart {
        flex-direction: column;
    }

    .form_box {
        width: 48%;
    }

    .cart_sum {
        width: 48%;
    }
    
    .shipping_form {
        display: flex;
    justify-content: space-between;
    }
}

@media screen and (max-width: 376px) {
    .benefits_items {
        flex-direction: column;
    }
    .footer_center {
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 20%;
    }

    .profile-logo {
        display: none;
    }

    .cart-logo {
        display: none;
    }

    .header_photo-main {
        display: none;
    }

    .header_title {
        font-size: 20px;
        line-height: 24px;
    }

    .text_bolder {
        font-size: 38px;
        line-height: 46px;
    }

    .content_photo_top {
        flex-wrap: wrap;
    }

    .card_top {
        width: 100%;
        margin-bottom: 3%;
    }

    .shipping_form {
        flex-direction: column;
    }

    .form_box {
        width: 100%;
    }

    .cart_sum {
        width: 100%;
    }

    .cart_button-desc {
        font-size: 12px;
        line-height: 17px;
        text-transform: capitalize;
    }

    .get-quote {
        line-height: 34px;
    }

    .registration {
        flex-direction: column;
    }

    .registration_form {
        width: 100%;
    }

    .registration_text {
        width: 100%;
        margin-top: 40px;
    }

    .breadcrumbs-text-name {
        display: none;
    }
}