* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Lato', sans-serif;
    }

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin-bottom: 65px;
.header_top {
    height: 75px;
    background-color: #222222;
    width: 100%;
   }

.header_bottom {
height: 764px;
background-color: #F1E4E6;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.header_list_left  {
 display: flex;
 list-style-type: none;
 align-items: center;
 padding: 18px 0;
.search-logo {
    margin-left: 44px;
}

}

.header_list_right {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 18px 0;
    .profile-logo {
        margin-left: 33px;
    }
    .cart-logo {
        margin-left: 33px;
    }
}

.header_photo {
    display: flex;
    align-items: center;
    }

   .header_title {
    border-left: 12px solid #F16D7F;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    padding-left: 16px;
    height: 93px;
    white-space: nowrap;
    margin-left: 64px;
}
}
.content_photo_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.content_photo_bottom {
    width: 100%;
    padding: 30px 0;
}

.card_top {
    position: relative;
    display: flex;
    justify-content: center;
   }

.card_image {
    width: 100%;
}
.card_bottom {
    position: relative;
    display: flex;
    justify-content: center;
    }


.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    }

.text_bold {
line-height: 36px;
font-size: 26px;
}

.text_color {
    color: #F16D7F;
}

.text_bolder {
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.card_text {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 105px;
    text-align: center;
}

.items {
    margin-top: 66px;
}

.items_title {
    font-size: 30px;
line-height: 36px;
color: #222222;
margin-bottom: 6px;
}

.items_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text_items {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 48px;
}

.item_card {
    width: 360px;
    background: #F8F8F8;
    margin-bottom: 30px;
    text-decoration: none;
    }

.item_name {
    font-size: 13px;
line-height: 16px;
color: #000000;
text-align: left;
padding-left: 18px;
padding-top: 25px;
padding-bottom: 12px;
}

.item_description {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
padding-left: 18px;
}

.item_price {
text-align: left;
padding: 18px;
}
.benefits {
    background-color: #222224;
    height: 341px;
.benefits_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 341px;
}
    .benefit_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 360px;
        margin: 30px;
    }

    .benefit_title {
        font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
text-align: center;
margin-bottom: 16px;
margin-top: 20px;
    }

    .benefit_text {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB; 
    }
}

.footer{
    .footer_center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 448px;
    }
    .subscribe {
        background:url(img/footer_bg.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 448px;
    }

    .subscribe_feedback{
        display: flex;
       flex-direction: column;
       width: 360px;
       align-items: center;
    }

    .subscribe_img {
        height: 96px;
        width:96px;
        margin-bottom: 30px;

    }

    .subscribe_form {
        display: flex;
        flex-direction: column;
       width: 360px;
       align-items: center;
    }

    .text_review {
        font-size: 20px;
        line-height: 24px;
        }

    .text_subscribe {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 32px;
    }

    .text_subscribe_bold {
        font-size: 24px;
        line-height: 40px
    }

    .input-text {
        background: #E1E1E1;
        border: none;
        height: 49px;
        border-radius: 25px 0 0 25px;
        padding: 7px 22px;
        text-align: left;
        
    }

    .button_subscribe {
        background: #F16D7F;
        border: none;
        height: 49px;
        border-radius: 0 25px 25px 0;
        padding: 7px 22px;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 17px;
    }

    .footer_bottom {
        background-color:#222224 ;
        height: 79px;
    }
.footer_bottom_center{
    display: flex;
    justify-content: space-between;
    height: 79px;
    align-items: center;
}
    .copyright {
        font-size: 16px;
line-height: 19px;
color: #FBFBFB;
text-align: left;}

.social {
    display: flex;
    align-items: center;
    list-style: none;
}

.social-logo {
    padding-right: 7px;
   
}

}