* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Lato', sans-serif;
    }

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.header {
    margin-bottom: 65px;
.header_top {
    height: 75px;
    background-color: #222222;
    width: 100%;
   }

.header_bottom {
    height: 100%;
background-color: #F1E4E6;
}
.navbar{
    display: flex;
    justify-content: space-between;
   }

.header_list_left  {
 display: flex;
 list-style-type: none;
 align-items: center;
 padding: 18px 0;
.search-logo {
    margin-left: 44px;
}

}

.header_list_right {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 18px 0;
    .profile-logo {
        margin-left: 33px;
    }
    .cart-logo {
        margin-left: 33px;
    }
}

.header_photo {
    display: flex;
    align-items: center;
    }

   .header_title {
    border-left: 12px solid #F16D7F;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    padding-left: 16px;
    height: 93px;
    white-space: nowrap;
    margin-left: 64px;
    text-transform: uppercase;
}

.menu_box {
   background-color:#FFFFFF ;
width: 232px;
height: 800px;
position: absolute;
top: 27px;
display: none;
flex-direction: column;
}

.menu_list {
    position: relative;
}

.menu_section {
    font-size: 14px;
line-height: 17px;
color: #F16D7F;
text-align: left;
  margin-left: 34px;
  margin-bottom: 6px;
  }

.menu_items {
       font-size: 14px;
line-height: 17px;
color: #6F6E6E;
text-align: left;
margin-bottom: 8px;
margin-left: 34px;
display: flex;
flex-direction: column;
}

.menu_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 34px;
    margin-top: 37px ;
    margin-bottom: 24px;
    text-align: left;
}

.menu_link {
    padding-left: 20px;
    padding-bottom: 12px;
    padding-top: 6px;
   text-decoration: none;
   color: #6F6E6E;
}
}

.menu_link:hover {
    color: #F16D7F;
}

.menu_list:hover .menu_box {
        display: flex;
    }

.content_photo_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.content_photo_bottom {
    width: 100%;
    padding: 30px 0;
}

.card_top {
    position: relative;
    display: flex;
    justify-content: center;
   }

.card_image {
    width: 100%;
}



.card_bottom {
    position: relative;
    display: flex;
    justify-content: center;
    }


.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    }

.text_bold {
line-height: 36px;
font-size: 26px;
}

.text_color {
    color: #F16D7F;
}

.text_bolder {
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.card_text {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 105px;
    text-align: center;
    text-transform: uppercase;
}

.item-sec {
    margin-top: 66px;
}

.item {
    display: flex;
    margin-right: 8px;
    margin-bottom: 30px;
    position: relative;
}

.items_title {
    font-size: 30px;
line-height: 36px;
color: #222222;
margin-bottom: 6px;
}

.items_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text_items {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.item_link {
    width: 360px;
    background: #F8F8F8;
    text-decoration: none;
    
}

.item-txt-box {
    padding: 15px;
}

.item:hover { box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item_pic {
    width: 100%;
}

.item:hover .item_pic {
    filter: brightness(30%)
}
    
.item_name {
font-size: 13px;
line-height: 16px;
color: #000000;
text-align: left;
padding-left: 18px;
padding-top: 25px;
padding-bottom: 12px;
text-transform: uppercase;
}

.item_description {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
padding-left: 18px;
}

.item_price {
text-align: left;
padding: 18px;
}

.add-box {
    display: none;
    position: absolute;
    width: 100%;
    height: 420px;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.add-link {
   text-decoration: none;
display: flex;
align-items: center;
border: 1px solid #FFFFFF;
padding: 10px 13px;
pointer-events: all;
}

.add-txt {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    font-family: Lato;
    font-weight: 400;
    margin-left: 11px;

}

.item:hover .add-box {
    display: flex;
}

.add-link:hover {
    box-shadow: 0 0 10px #FFFFFF;}
    
    
.item_browse {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 95px;
}

.browse_all_products {
    font-size: 16px;
line-height: 19px;
color: #F26376;
text-decoration: none;
border: 1px solid #FF6A6A;
padding: 14px 38px;
}

.browse_all_products:hover {
    background-color:#F16D7F;
    color: #FFFFFF;

}

.benefits {
    background-color: #222224;
    height: 341px;
.benefits_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 341px;
}
    .benefit_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 360px;
        margin: 30px;
    }

    .benefit_title {
        font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
text-align: center;
margin-bottom: 16px;
margin-top: 20px;
    }

    .benefit_text {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB; 
    }
}

.footer{
    .footer_center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 448px;
    }
    .subscribe {
        background:url(img/footer_bg.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 448px;
    }

    .subscribe_feedback{
        display: flex;
       flex-direction: column;
       width: 360px;
       align-items: center;
    }

    .subscribe_img {
        height: 96px;
        width:96px;
        margin-bottom: 30px;

    }

    .subscribe_form {
        display: flex;
        flex-direction: column;
       width: 360px;
       align-items: center;
    }

    .text_review {
        font-size: 20px;
        line-height: 24px;
        }

    .text_subscribe {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 32px;
        text-transform: uppercase;
    }

    .text_subscribe_bold {
        font-size: 24px;
        line-height: 40px
    }

    .input-text {
        background: #E1E1E1;
        border: none;
        height: 49px;
        border-radius: 25px 0 0 25px;
        padding: 7px 22px;
        text-align: left;
        
    }

    .button_subscribe {
        background: #F16D7F;
        border: none;
        height: 49px;
        border-radius: 0 25px 25px 0;
        padding: 7px 22px;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 17px;
    }

    .form_footer {
        display: flex;
    }
    .footer_bottom {
        background-color:#222224 ;
        height: 79px;
    }
.footer_bottom_center {
    display: flex;
    justify-content: space-between;
    height: 79px;
    align-items: center;
}
    .copyright {
        font-size: 16px;
line-height: 19px;
color: #FBFBFB;
text-align: left;}

.social {
    display: flex;
    justify-content: space-between;
    }

.social_box {
    background-color: #FFFFFF;
    height: 32px;
    width: 32px;
    margin-right: 7px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.fab {
    font-size: 20px;
}

.social_logo {
    text-decoration: none;
    color: black;
}
    
.social_logo:hover .social_box {
    background-color: #F16D7F;
    }

.social_logo:hover {
        color: #FFFFFF;
    }
}