* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container-dev {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  padding: 0 2%;
}

.header__top {
  background-color: #222222;
  width: 100%;
}

.header__breadcrumbs {
  background-color: #F8F3F4;
  min-height: 148px;
  border: 1px solid #EAEAEA;
}

.header__breadcrumbs-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.breadcrumbs-text-name {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #F16D7F;
  text-transform: uppercase;
}

.crumbs_link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  color: #636363;
  text-transform: uppercase;
}

.crumbs_link-active {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  color: #F16D7F;
  text-transform: uppercase;
}

.crumbs_link:hover {
  color: #F16D7F;
}

.crumbs_link-active:hover {
  color: #636363;
}

.header_bottom {
  height: 100%;
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.header_bottom-product {
  height: 100%;
  background-color: #F7F7F7;
  position: relative;
}

.header__top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}

.header__top_menu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top_menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_list {
  position: relative;
}

.header_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 363px;
  width: 100%;
}

.header_photo-main {
  width: 48%;
}

.header_title-box {
  width: 48%;
}

.header_photo-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel_photo {
  padding: 25px;
  height: 777px;
}

.button_carousel {
  background-color: #2A2A2A;
  height: 47px;
  width: 47px;
}

.header_title {
  border-left: 12px solid #F16D7F;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  padding-left: 16px;
  height: 100%;
  white-space: nowrap;
  text-transform: uppercase;
}

.menu_box {
  background-color: #FFFFFF;
  width: 232px;
  height: 800px;
  position: absolute;
  top: 26px;
  right: -600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.menu_list {
  position: relative;
}

.menu_section {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #F16D7F;
  margin-left: 34px;
  margin-bottom: 6px;
}

.menu_items {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #6F6E6E;
  margin-bottom: 8px;
  margin-left: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_title {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-align: left;
  color: #000000;
  margin-left: 34px;
  margin-top: 37px;
  margin-bottom: 24px;
}

.menu_link {
  padding-left: 20px;
  padding-bottom: 12px;
  padding-top: 6px;
  text-decoration: none;
  color: #6F6E6E;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.menu_link:hover {
  color: #F16D7F;
}

.menu_list:hover .menu_box {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
}

.content_photo_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content_photo_bottom-pic {
  width: 100%;
  padding: 2% 0;
}

.card_top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 32%;
  height: 48%;
}

.card_top:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card_image {
  width: 100%;
}

.card_bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  min-height: 111px;
}

.card_bottom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product_banner {
  height: 601px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  top: -130px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner_section {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #F16D7F;
  margin-top: 64px;
  text-transform: uppercase;
}

.banner_line {
  width: 63px;
  border: 1.5px solid #EF5B70;
  margin: 7px 0 11px 0;
  opacity: 1;
  color: #EF5B70 !important;
}

.carousel-item {
  -webkit-transition: opacity .5s linear, -webkit-transform 2s ease;
  transition: opacity .5s linear, -webkit-transform 2s ease;
  transition: transform 2s ease, opacity .5s linear;
  transition: transform 2s ease, opacity .5s linear, -webkit-transform 2s ease;
}

.carousel-control-prev {
  top: 50%;
  bottom: 50%;
}

.carousel-control-next {
  top: 50%;
  bottom: 50%;
}

.product_name {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: #4D4D4D;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.product_desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  margin-bottom: 32px;
}

.product_price {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  color: #EF5B70;
  margin-bottom: 65px;
}

.banner_line-grey {
  width: 641px;
  border: 1px solid #EAEAEA;
  margin-bottom: 65px;
  opacity: 1;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #000000;
  font-style: normal;
}

.text_color {
  color: #F16D7F;
}

.text_bold {
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.text_bolder {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: #222222;
}

.card_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-transform: uppercase;
}

.item-sec {
  margin-top: 66px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1%;
  margin-bottom: 3%;
  position: relative;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 360px;
}

.items_title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #222222;
  margin-bottom: 6px;
}

.items_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text_items {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.item_link {
  width: 100%;
  background: #F8F8F8;
  text-decoration: none;
}

.item-txt-box {
  padding: 15px;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item_pic {
  width: 100%;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.item:hover .item_pic {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.item_name {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #000000;
  padding-left: 18px;
  padding-top: 25px;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.item_description {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  color: #5D5D5D;
  padding-left: 18px;
}

.item_price {
  text-align: left;
  padding: 18px;
}

.add-box {
  display: none;
  position: absolute;
  width: 100%;
  top: 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.add-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-link:hover {
  -webkit-box-shadow: 0 0 10px #FFFFFF;
          box-shadow: 0 0 10px #FFFFFF;
}

.item_browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 95px;
}

.button_pink {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #F16D7F;
  text-decoration: none;
  border: 1px solid #F16D7F;
  padding: 14px 38px;
  background-color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button_pink:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.benefits {
  background-color: #222224;
  min-height: 341px;
}

.benefits .benefits_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 341px;
}

.benefits .benefit_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 360px;
  margin: 30px;
}

.benefits .benefit_title {
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
  margin-bottom: 16px;
  margin-top: 20px;
}

.benefits .benefit_text {
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.benefits:hover .benefit_card {
  -webkit-animation: wobble-hor-top 1.5s ease-in-out both;
  animation: wobble-hor-top 1.5s ease-in-out both;
}

.wobble-hor-top {
  -webkit-animation: wobble-hor-top 1.5s ease-in-out both;
  animation: wobble-hor-top 1.5s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-7 20:44:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

.add-box-pink {
  border: 1px solid #FF6A6A;
}

.add-link-pink {
  text-decoration: none;
  width: 211px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.add-txt-pink {
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #F16D7F;
  padding-left: 23px;
  padding-right: 26px;
}

.add-pic-white {
  position: absolute;
  display: none;
  padding-right: 33px;
  left: 27px;
}

.add-box-pink:hover .add-link-pink {
  background-color: #F16D7F;
}

.add-box-pink:hover .add-txt-pink {
  color: white;
  padding-left: 50px;
}

.add-box-pink:hover .add-pic-white {
  display: block;
}

.add-box-pink:hover .add-pic-pink {
  display: none;
}

.add-txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 43px;
  text-align: left;
  color: #FFFFFF;
  margin-left: 11px;
}

.footer .footer_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 448px;
}

.footer .subscribe {
  background: url(img/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 448px;
}

.footer .subscribe_feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .subscribe_img {
  height: 96px;
  width: 96px;
  margin-bottom: 30px;
}

.footer .subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .text_review {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer .text_subscribe {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #222224;
  padding-bottom: 32px;
  text-transform: uppercase;
}

.footer .text_subscribe_bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.footer .input-text {
  background: #E1E1E1;
  border: none;
  height: 49px;
  border-radius: 25px 0 0 25px;
  padding: 7px 22px;
  text-align: left;
}

.footer .button_radius {
  height: 49px;
  border-radius: 0 25px 25px 0;
  padding: 7px 22px;
  font-size: 14px;
  line-height: 17px;
}

.footer .form_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_bottom {
  background-color: #222224;
  height: 79px;
}

.footer .footer_bottom_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #FBFBFB;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .social_box {
  background-color: #FFFFFF;
  height: 32px;
  width: 32px;
  margin-right: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.footer .fab {
  font-size: 20px;
}

.footer .social_logo {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer .social_logo:hover .social_box {
  background-color: #F16D7F;
}

.footer .social_logo:hover {
  color: #FFFFFF;
}

.filters-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
}

.form-select {
  border: none;
  text-transform: uppercase;
  width: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #6F6E6E;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 0;
  background-image: url(img/arrow.svg);
  margin-right: 28px;
  -webkit-transition: none;
  transition: none;
}

.form-select:hover {
  color: #F16D7F;
}

.form-select:focus {
  color: #F16D7F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

details {
  width: 30%;
}

.filter_dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-link {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  color: #6F6E6E;
}

.page-item:hover .page-link {
  color: #F16D7F;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 96px;
  margin-top: 64px;
}

.registration_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registration_legend {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  color: #222222;
  margin-bottom: 20px;
}

.registration_input {
  font-size: 13px;
  font-weight: 300;
  line-height: 45px;
  text-align: left;
  color: #B1B1B1;
  width: 100%;
  padding-left: 17px;
}

.gender_checkbox {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-align: left;
  color: #000000;
  width: 100%;
}

.registration_req {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.checkbox-txt {
  padding-right: 4%;
  padding-left: 10px;
}

.join_us {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-transform: uppercase;
}

.fa-long-arrow-alt-right {
  padding-left: 20px;
}

.registration_text {
  margin-left: 10%;
}

.registration_text-list {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  color: #000000;
  margin-bottom: 16px;
  list-style-image: url(img/checkmark.svg);
}

.uppercase {
  text-transform: uppercase;
}

.registration-list {
  padding-left: 25px;
  padding-bottom: 16px;
}

.filter_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
  position: relative;
}

.filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-btn-txt {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  color: #000000;
  padding-right: 11px;
}

.filter-btn:hover .filter-btn-txt {
  color: #F16D7F;
}

.filter-active {
  width: 360px;
  position: absolute;
}

summary {
  list-style: none;
}

.accordion {
  width: 360px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  background: #FFFFFF;
  position: absolute;
  z-index: 1;
}

.accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accordion-list {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #6F6E6E;
  padding-bottom: 11px;
}

.accordion-button:not(.collapsed) {
  color: #F16D7F;
  background-color: white;
}

.accordion-button {
  border-left: 5px solid #F16D7F;
}

.accordion-button:focus {
  border-color: #F16D7F;
}

.accordion-item {
  padding-left: 17px;
  border: none;
  margin-top: 17px;
}

.accordion-header {
  border-bottom: 1px solid #EBEBEB;
}

.accordion-list:hover {
  color: #F16D7F;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-item:last-of-type .accordion-button {
  border-radius: 0;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2%;
}

.cart_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  margin-bottom: 40px;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.cart_item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.cart_item-img {
  height: 306px;
}

.cart_item-text {
  width: 390px;
  margin-top: 22px;
  margin-left: 31px;
}

.cart_item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_item-name {
  width: 265px;
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #222222;
}

.close-pic {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 6px;
  padding-right: 22px;
}

.cart_item-desc {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #575757;
}

.border {
  border: 1px solid #EAEAEA;
  padding-left: 16px;
  padding-right: 16px;
  width: 64px;
}

.cart_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.cart_button-desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
  color: #000000;
  padding-right: 40px;
  padding-left: 40px;
  background-color: white;
  border: 1px solid #A4A4A4;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.cart_button-desc:hover {
  color: #F16D7F;
  border-color: #F16D7F;
  -webkit-box-shadow: 0 5px 8px #F16D7F;
          box-shadow: 0 5px 8px #F16D7F;
}

.shipping_form {
  width: 100%;
  margin-top: 17px;
}

.shipping_input {
  margin-bottom: 20px;
  padding-left: 17px;
}

.cart_sum {
  height: 214px;
  background-color: #F5F3F3;
  margin-top: 57px;
  padding-top: 39px;
  padding-right: 42px;
  padding-left: 43px;
  padding-bottom: 42px;
}

.get-quote {
  font-size: 11px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
  color: #4A4A4A;
}

.sub_total {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  color: #4A4A4A;
  margin-bottom: 12px;
}

.grand_total {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: right;
  color: #222222;
  padding-bottom: 21px;
  border-bottom: 1px solid #E2E2E2;
}

.proceed {
  margin-top: 17px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .benefits_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10%;
    padding-bottom: 20%;
  }
  .header_title {
    font-size: 24px;
    line-height: 29px;
  }
  .text_bolder {
    font-size: 44px;
    line-height: 53px;
  }
  .item:last-of-type {
    display: none;
  }
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form_box {
    width: 48%;
  }
  .cart_sum {
    width: 48%;
  }
  .shipping_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 376px) {
  .benefits_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10%;
    padding-bottom: 20%;
  }
  .profile-logo {
    display: none;
  }
  .cart-logo {
    display: none;
  }
  .header_photo-main {
    display: none;
  }
  .header_title {
    font-size: 20px;
    line-height: 24px;
  }
  .text_bolder {
    font-size: 38px;
    line-height: 46px;
  }
  .content_photo_top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card_top {
    width: 100%;
    margin-bottom: 3%;
  }
  .shipping_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form_box {
    width: 100%;
  }
  .cart_sum {
    width: 100%;
  }
  .cart_button-desc {
    font-size: 12px;
    line-height: 17px;
    text-transform: capitalize;
  }
  .get-quote {
    line-height: 34px;
  }
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration_form {
    width: 100%;
  }
  .registration_text {
    width: 100%;
    margin-top: 40px;
  }
  .breadcrumbs-text-name {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */